.about-bg {
  background: rgba(26, 21, 40, .2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.social-media {
  color: #001328;
  width: 40px;
  height: 40px;
  line-height: 60px;
  border-radius: 50%;
  transition: all linear 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  bottom: 20px;
  right: 21px;
}

.teams:hover .social-media {
  background-color: #007bff;
  color: white;
  box-shadow: 5px 10px 10px -7px rgba(0, 123, 255, 0.5);
}


.teams:hover .team:before {
  transform: scale(1.1);
}